*{
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background-attachment: fixed;
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  background-image: url('colors.png');
}

.container{
  width: 1280px;
  margin: auto;
}

#my-cards{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}

.card{
  position: relative;
  width: 380px;
  min-height: 350px;
  margin: 20px 0;
  cursor: pointer;
  transition: 1s ease;
  /* horizontal length, vertical length, Blur radius, spread, color */
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.5);
}

.card:hover{ transform: scale(1.1);}

.card img{ width: 100%;}

.card:hover .image{
  filter: brightness(50%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.middle{
  position: absolute;
  top: 30%;
  left: 50%;
  opacity: 0;
  color: black;
  transition: .5s ease;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  filter: brightness(100%);
}

.card:hover .middle{ opacity: 1;}

@media (max-width:1280px){
  .container{ width: 95%;}
}
@media (max-width:768px){
  .card{ width: 95%;}

  .card:hover{ transform: scale(1);}
}

