*{
  margin: 0;
  padding: 0; 
}

body{
  box-sizing: border-box; 
  font-family: Arial, Helvetica, sans-serif;
}

#my-cards{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  background-attachment: fixed;
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  background-image: url('colors.png');
}

#my-cards .card{
  position: relative;
  width: 380px;
  min-height: 350px;
  margin: 20px 0;
  cursor: pointer;
  transition: 1s ease;
  /* horizontal length, vertical length, Blur radius, spread, color */
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.5);
}

#my-cards .card:hover{
  transform: scale(1.1);
}

#my-cards .card img{
   width: 100%;
}

#my-cards .card:hover .image{
  filter: brightness(50%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

#my-cards .middle{
  position: absolute;
  top: 30%;
  left: 50%;
  opacity: 0;
  color: black;
  transition: .5s ease;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  filter: brightness(100%);
}

#my-cards .card:hover .middle{
  opacity: 1;
}

@media (max-width:768px){
  #my-cards .card{
    width: 95%;
  }

  #my-cards .card:hover{
    transform: scale(1);
  }
}

